.Window{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  justify-content: center;
  margin: auto;
}


.tittle{
  width: 400px;
}


.WindowMain{
  display: flex;
  flex-direction: row-reverse;
  width: calc(100vw*0.9);
  height: 70vh;
  margin: 20px;
  justify-content: center;
}



.WindowLeft{
  width: 37%; /* Ocupa el 48% del ancho del contenedor principal */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: left;
  align-content: flex-start;
}

.posContent{
  position: relative;
  top: 20%;
}

.hero {
  white-space: nowrap; /* Evita los saltos de línea */
}

.hero > * {
  display: inline-block; /* Coloca los elementos en la misma línea */
  margin-right: 10px; /* Añade un margen entre los elementos según tus preferencias */
}

/* Agregar estilos para el selector de idioma */
#languageSelector {
  width: 100px;
  padding: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: green;
  background-color: #00ff1e81;
  color: #333;
}

#languageSelector option {
  background-color: rgb(151, 236, 22);
  color: rgb(48, 84, 48);
}

#input_run_time {
  width: 40px;
  padding: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #00ff1e81;
  /* el color de fondo */
  color: #333;
  border-color: green;
  overflow: hidden; 
}

.word_section{
  align-items: start;
  flex: 0 1 calc(47% - 10px); /* Ancho del 50% con espacio entre columnas */
  margin: 0px 15px; /* Margen opcional entre las columnas */
}

#words_area {
  width: 90%; /* Ancho completo de las áreas de texto */
  height: 200px; /* Altura ajustada según tus necesidades */
  font-size: 20;
  resize: none;  
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  overflow-y: auto;
}

.WindowRight{
  width: 60%;
  height: 70vh;
}

/* Estilos del cuadro de expresión regular */
.box_phrase {
  border-radius: 10px; /* Redondear los bordes */
  padding: 20px;
  background-color: inherit;
}

.label_phrase {
  display: block;
  width: 100%;
  height: 185px;
  border: none;
  resize: none;
  outline: none;
  background: white;
  color: black;
}


/* Estilos del cuadro de entrada de texto */
#input_phrase {
  cursor: pointer;
  width: 70%;
  padding: 10px;
  margin-top:8px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: black;
}

/* Estilos del botón de verificación */
#button_phrase {
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(151, 236, 22);
  color: rgb(48, 84, 48);
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button_phrase:disabled,
#button_phrase:disabled:hover {
  background-color: #00ff1e77;
  color: black;
  transform: none;
  pointer-events: none;
}

#button_phrase:hover {
  background-color: rgb(151, 236, 22);
  color: rgb(48, 84, 48);
  transform: scale(1.1);
}


/* Estilos del contenedor del gráfico de autómata */
#title_automaton {
  font-size: 30px;
  font-weight: bold;
  margin-left: 0; /* Alinea el título a la izquierda */
  margin-bottom: 20px;
}

#box_automaton {
  display: flex;
  width: 90%; /* Ocupa todo el ancho disponible */
  height: 35vh;
  margin: 0 auto;
  border: 6px double #878585;
  background-color: #f0f0f0;
  border-radius: 20px;
}

/* Estilos de la cinta  */

.tape{
  display: flex;
  width: auto;
  justify-content: center;
  max-width: 800px;
  overflow: hidden;
}

.cells, .cellsB, .centro{
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: black;
  stroke-width: 0.5;
  pointer-events: none;
  text-anchor: middle;
  font-family: "Source Code Pro", "Consolas", "Menlo", "DejaVu Sans Mono", "Courier", monospace;
  font-size: 25px;
  border: 1px solid white;
  border-right: none;
  width: 50px;
  min-width: 50px;
  height: 44px;
  text-align: center;
}

.cells1{
  border: 1px solid white;
  border-left: none;
  border-right: none;
  width: 50px;
  height: 44px;
}

.cell_dinamy{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  overflow: auto; /* Añadido para permitir el desplazamiento horizontal */
  width: auto; /* Ancho máximo del contenedor */
  overflow: hidden; /* Oculta la barra de desplazamiento */
}

.index{
  position: absolute;
  
  border: 4px solid yellow;
  min-width: 47px;
  height: 48px;
  opacity: 60%;
}


#languageSelector,
#input_run_time,
#words_area,
#box_automaton,
#input_phrase,
#button_phrase {
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.189);
}

/* fin */



